html
    head
        title= 'Nautilus'
        link(rel='stylesheet', href='stylesheets/index.css')
        script(src='scripts/helpers.js')
body
    div(class='title-bar')
        div(class='title-bar-text')
            h2
                a(href='/') Nautilus
    div(class='container', id='admin-div')
        form(id='db-form', action='/admin', method='post')
            p
                b Choose administrative task:
            br
            input(class='other-button', type='button', onclick="goTo('remove')", value='Remove')
            input(class='other-button', type='button', onclick="goTo('add')", value='Add')