html
    head
        title= 'Nautilus'
        link(rel='stylesheet', href='stylesheets/index.css')
        script(src='scripts/helpers.js')
    body
        div(class='title-bar')
            div(class='title-bar-text')
                h2
                    a(href='/') Nautilus
        if user
            div(id='domain-container')
                form(id='domain-form', action='/shell', method='post')
                    label(for='client-select-box') Select a client to get started:
                    select(id='client-select-box', name='clientName', autofocus)
                        each client in clients
                            option(value=client) #{client}
                    div(id='lower')
                        input(id='go-button', type='submit', value='Go')
                        input(id='other-button', type='button', onclick="goTo('/admin')", value='Admin')
        else
            div(id='login-container')
                form(id='login-form', action='/login', method='post')
                    label(for='username') Username:
                    input(type='text', name='username', id='username', autofocus)
                    label(for='password') Password:
                    input(type='password', name='password', id='password')
                    div(id='lower')
                        input(type='submit', value='Login', id='login')