html
    head
        title= 'Nautilus'
        script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/custom.css')
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        nav(class="navbar navbar-default navbar-fixed-top navbar-inverse")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button", class="navbar-toggle collapsed",
                    data-toggle="collapse", data-target="#nautilus-navbar-collapse",
                    aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", href='/')
                div(class="collapse navbar-collapse" id="nautilus-navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="/") Shell
                            span(class="sr-only") (current)
                        if user && user.isAdmin
                            li
                                a(href="/admin") Admin
                    if user
                        ul(class="nav navbar-nav navbar-right")
                            li(class="dropdown")
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button")= 'Logged in: ' + user.username
                                span(class="caret")
                                ul(class="dropdown-menu")
                                    li
                                        a(href="/changePassword") Change Password
                                    li(role="separator" class="divider")
                                    li
                                        a(href="/logout") Logout
        div(class='container main')
            div(class="col-md-6 col-md-offset-3")
                div(class="well")
                    form(id='db-form', action='/admin/masterReset', method='post')
                        h4 Change the admin password for ALL domains in database
                        h3
                            strong
                                mark WARNING: This is a big deal.
                        div(class="form-group" id='oldPwdDiv')
                            label(for='oldPassword') Current Password:
                            input(class="form-control input-lg", type='password', name='oldPassword', id='oldPassword', tabindex='1', autofocus)
                        div(class="form-group" id='newPwdDiv')
                            label(for='newPassword') New Password:
                            input(class="form-control input-lg", type='password', name='newPassword', id='newPassword', tabindex='2')
                        div(class="form-group" id='confirmPwdDiv')
                            label(for='confirmPassword') Confirm Password:
                            input(class="form-control input-lg", type='password', name='confirmPassword', id='confirmPassword', tabindex='3')
                        a(role='button', type="button", class="btn btn-default btn-lg", href="/admin", tabindex='5') Back to Safety
                        span(class="pull-right")
                            button(class="btn btn-danger btn-lg", type='submit', tabindex='4' id='changeUserBtn') Change Password