html
    head
        title= 'Nautilus'
        link(rel='stylesheet', href='stylesheets/webShell.css')
        script(src='https://code.jquery.com/jquery-1.11.1.js')
        script(src='/socket.io/socket.io.js')
    body
        input(hidden, id='clientDomain', value=clientDomain)
        div(class='title-bar')
            div(class='title-bar-text')
                h2= 'Nautilus'
                button(type='submit', form='fake-button-form')= 'End Session: ' + clientDomain
        div(class='command-output', id='out')
        div(class='command-input', id='in')
            p(id='command-label') ps>
            input(id='command', type='text', autofocus)
        form(id='fake-button-form', action='/')
        script(type="text/javascript").
            const clientDomain = document.getElementById('clientDomain').value;
        script(src='scripts/webShell.js')