html
    head
        title= 'Nautilus'
        link(rel='stylesheet', href='/stylesheets/webShell.css')
        script(src='https://code.jquery.com/jquery-1.11.1.js')
        script(src='/socket.io/socket.io.js')
    body
        div(class='title-bar')
            div(class='title-bar-text')
                h2= 'Nautilus'
                input(type='button', onclick='cleanExit();', value='End Session: ' + clientDomain)
        div(class='command-output', id='out')
        div(class='command-input', id='in', data-domain=clientDomain)
            p(id='command-label') ps>
            input(id='command', type='text', autofocus, autocomplete='off')
        script(src='/scripts/webShell.js')