.title-bar {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #eee;
    top: 0;
    border-bottom: 2px solid black;
}
.title-bar-text {
    position: inherit;
    left: 10px;
}
.title-bar-text > h2 {
    position: inherit;
    font-size: 40px;
    margin: 8px;
}
.title-bar-text input {
    font-family: monospace;
    position: inherit;
    right: 10px;
    top: 20px;
}
#fake-button-form {
    display: inline;
}

.command-output {
    width: 95%;
    margin: 0 auto;
    padding: 70px 0;
}
.command-output-line {
    max-width: 800px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-family: monospace;
}
.self {
    font-weight: bold;
}
.command-input {
    width: 100%;
    height: 60px;
    background: #eee;
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
}

#command-label {
    margin-top: 0;
    padding: 10px;
    bottom: 0;
    font-size: 15px;
    font-family: monospace;
}
#command {
    background: lightgray;
    width: 95%;
    height: 30px;
    position: fixed;
    left: 50px;
    bottom: 28px;
    font-size: 15px;
    font-family: monospace;
    color: white;
    padding: 0;
}
#command:focus {
    background: gray;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}